@font-face {
  font-family: IBM;
  src: url(../assets/IBMPlexSerif-Regular.ttf);
}

.chat-content {
  background-color: #f1ede6;
  max-height: 95vh; /* Adjust this value as needed */
  width: 100%;
  text-align: center;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden;
}

.user-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  border-left: #15c757 solid 20px;
}

.message-input {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.message-form {
  display: flex;
  justify-content: center;
  max-height: 100px;
  align-items: center;
  gap: 20px;
}

textarea {
  flex-grow: 1;
  margin-right: 10px;
  border-radius: 20px;
  padding: 20px;
  font-size: 1.4rem;
  border: none;
  max-width: 600px;
}

.send-button {
  border-radius: 20px;
  font-size: 1.8rem;
  background-color: #ec3b41;
  color: white;
  width: 150px;
  height: 50px;
  border: none;
}

.messages {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(1, auto);
  padding: 10px;
}

.author {
  grid-column: 2/3;
  background-color: #15c757;
  color: white;
  border-radius: 40px;
  padding: 10px;
}

.recipient {
  grid-column: 1/2;
  background-color: #53bdeb;
  color: white;
  border-radius: 40px;
  padding: 10px;
}

@media (max-width: 600px) {
  .chat-container {
    width: 100%;
  }
  .message-input {
    flex-direction: column;
  }

  .message-form {
    flex-direction: column;
  }

  textarea {
    margin-right: 0;
    margin-bottom: 10px;
    max-width: 60%;
    min-height: 40px;
    margin-top: 20px;
  }

  .send-button {
    width: 50%;
  }

  .messages {
    grid-template-columns: repeat(1, 1fr);
  }

  .author,
  .recipient {
    grid-column: 1/2;
  }
}
