@font-face {
  font-family: IBMSerif-Light;
  src: url(../assets/IBMPlexSerif-Light.ttf);
}

@font-face {
  font-family: IBMSerif-Regular;
  src: url(../assets/IBMPlexSerif-Regular.ttf);
}

.dashboard {
  display: grid;
  grid-template-columns: minmax(100px, 300px) minmax(300px, 1fr);
  font-size: 2rem;
  height: calc(100% - 64px);
  font-family: IBMSerif-Regular;
}

.empty-space {
  grid-column: 2/3;
  background-color: #f0f2f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-list {
  grid-column: 1/2;
  background-color: white;
  border-right: 2px solid black;
}

.contact-list-title {
  display: block;
  background-color: #53bdeb;
  text-align: center;
  min-height: 70px;
}

.contact {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #f0f2f5;
  text-decoration: none;
  color: black;
  font-weight: bold;
}
